body {
    font-family: 'Montserrat', sans-serif;
}

.callout-container {
    height: 100vh;
    width: 100vw;
    background: url("../images/banner.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--Media Queries--*/

@media only screen and (max-width: 767px) {
    body {
        background: url("../images/banner.jpg");
    }
}


/*-----------------------------Heading*/

#logo {
    height: 50px;
    width: 70px;
}

#nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;

}

.bg-light {
    background-color: #ffffffff!important;
}

/*-----------Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler-icon {
    border: none;
    float: right;
    background-color: #964433;
}

.navbar-nav li a {
    color: black !important;
}

.navbar-nav a:hover {
    color: #964433 !important;
}

/*----Page Headers-----*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.portfolio  .page-header,
.about  .page-header,
.prices  .page-header,
.reviews  .page-header,
.contact  .page-header {
    margin-bottom: 20px;
}

.services .page-header {
    margin-bottom: 30px;
}

/*---Container----*/

.content-container {
    padding-top: 20px;
    padding-bottom: 75px;
    padding left: 100px;
}


/*----------Media Queries

@media (min-width: 992px) {
    .navbar-header {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 
    }
}
*/

/*-------Services----*/

.img-circle {
    padding-bottom: 20px;
    padding-left: 20px;
}

.img-with-text {
    text-align: center;
    width: 512px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.container-wrapper {}

.container-wrapper--white {
    background-color: #ffffff;
}

.container-wrapper--brown {
    background-color: #bb9228ad;
}

.reviews {
    text-align: center;
    margin-bottom: 40px;

}


/*.services i {
    margin-bottom: 20px;
    margin-top: 100px;
}*/

.services-container {}

.portfolio-container {}

.about-container {}

.prices-container .reviews-container {}

.contact-container {}
