@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
    font-family: 'Montserrat', sans-serif;
}

.callout-container {
    height: 100vh;
    width: 100vw;
    background: url(../images/banner.jpg) no-repeat 0% 0% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*-----------------------------Heading*/

#logo {
    height: 50px;
    width: 70px;
}

#nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;

}

.bg-light {
    background-color: #ffffffff!important;
}

/*-----------Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler-icon {
    border: 0;
    float: right;
    background-color: rgb(0, 0, 0, 0);
}

.navbar-nav li a {
    color: black !important;
}

.navbar-nav a:hover {
    color: #964433 !important;
}

/*----Page Headers-----*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.portfolio  .page-header,
.about  .page-header,
.prices  .page-header,
.reviews  .page-header,
.contact  .page-header {
    margin-bottom: 20px;
}

.services .page-header {
    margin-bottom: 30px;
}

/*---Container----*/

.content-container {
    padding-top: 20px;
    padding-bottom: 75px;
}


/*----------Media Queries

@media (min-width: 992px) {
    .navbar-header {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 
    }
}
*/

/*-------Services----*/

.img-circle {
    padding-bottom: 20px;
    padding-left: 20px;
}

.img-with-text {
    text-align: center;
    width: 512px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.container-wrapper {}

.container-wrapper--white {
    background-color: #ffffff;
}

.container-wrapper--brown {
    background-color: #bb9228ad;
}

.reviews {
    text-align: center;
    margin-bottom: 40px;

}


/*.services i {
    margin-bottom: 20px;
    margin-top: 100px;
}*/

/*--Buttons--*/
.btn-custom {
  background-color: hsl(21, 45%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b16943", endColorstr="#a2613d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b16943), to(#a2613d));
  background-image: -moz-linear-gradient(top, #b16943, #a2613d);
  background-image: -ms-linear-gradient(top, #b16943, #a2613d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b16943), color-stop(100%, #a2613d));
  background-image: -webkit-linear-gradient(top, #b16943, #a2613d);
  background-image: -o-linear-gradient(top, #b16943, #a2613d);
  background-image: linear-gradient(#b16943, #a2613d);
  border-color: #a2613d #a2613d hsl(21, 45%, 43%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
    background: #72370d !important;
}

.btn-custom:hover {
    color: #000000 !important;
}

/*--Special Paddings/Margins/text--*/

.general-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fafafa;
    
}

.inline-block {
    display: inline-block;
}

/*--Footer--*/
footer {
    background-color: #bb9228ad;
    color: #fff;
    min-height: 100px;
    margin:0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fafafa;
}


.info i {
    
}

a {
    color: #fafafa;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #a3613e;
}

/*--Table--*/
.table-hover {
    background-color: #a3613e;
}

.services-container {}

.portfolio-container {}

.about-container {}

.prices-container 

.reviews-container {}

.contact-container {}
